/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
font-family: "Poppins", serif;
font-weight: 400;
font-style: normal;
}
/* Google Font */


/* Global / Shared Design   */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* img {
    width: 100%;
  
} */
section {
    margin: 50px 0;
}


:root {
    --primary-color: #3A3A3A;
    --secondary-color: #E02C6D;
}
.btn_primary {
    padding: 15px 30px;
    background: var(--secondary-color);
    color: #ffffff;
    font-size: 1.08rem;
    border: none;
    border-radius: 25px;
    margin: 20px 0 0 0;
}
.btn_primary:hover {
   background: var(--primary-color);

}


/* Header Area */
.header {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
}
.brand h2 {
    font-weight: 400;
}

.navbar ul{
   display: flex;
}
 .navbar ul li  {

    list-style: none;
    padding-left: 1rem;
}
 .navbar a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color .5s linear ;
}

.navbar a:hover {
    color: var(--secondary-color);
}

.navbar .collaps {
    display: none;
}

/* Main Area */
.main {
    max-width: 1000px;
    margin: 0 auto;
}
/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    padding: 100px 0px;
}

.hero_content {
    flex: 1.5;

}
.hero_content h2 {
    font-size: 3rem;
    margin: 0 0 20px 0;
}
.hero_image {
    flex: 1;
    background: url("../images/Circle\ design.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.hero_image img {
    width: 100%;
}
/* Brand collaboration Logos  */
.brand_collab {
    display: grid;
    grid-template-columns: repeat(7 ,1fr);
    gap: 50px;
    align-items: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    
}
/* Product area */

.products_wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.products_area_title h2 {
    font-weight: 500;
    text-align: center;
    padding: 50px 0;
}

.product {
    padding: 20px;
    box-shadow: 0 4px 50px 0 #ddd;
    border-radius: 10px;
}
.product img {
   width: 100%;
}
.product_name {
    font-size: 1.5rem;
    font-weight: 500;
}
.product_price {
    font-weight: 400;
}
.product_rating i {
    color: #FB8200;
}
.product_note {
    color: var(--primary-color);
    font-size: .9rem;
}
.next_product {
    display: flex;
    justify-content: flex-end;
    color: var(--secondary-color);
    padding: 30px 0;
    align-items: center;
    gap: 10px;
}

/* Feature area */
.feature {
    display: flex;
    gap: 30px;
}
.feature_image{
    flex: 1.2;
}
.feature_content {
    flex: 2;
}
.feature_image img{
   width: 100%;
}

/* Footer Area */
.footer_area {
    background: #0a0826;
    color: #ffffff;
    padding: 30px 20px;
    text-align: center;
}
.footer_area .social {
    padding: 20px 0;
}
.footer_area .social i {
    padding: 0px 10px;
}
/* Responsive @media query for 576px screen */

@media screen and (max-width: 576px){
    /* Header */
    .header {
        padding: 20px;
    }
    .navbar ul  {
        display: none;
    }
    .navbar .collaps{
        display: block;
    }
    
    .navbar:hover ul {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      width: 90%;
      margin: 0 auto;
      box-shadow: 0px 4px 50px 0px #ddd;
      padding: 10px;
      
      
    }
    .navbar li {
        padding: 5px 30px;
        transition: .5s;
    }
    .navbar li:hover {
        background: var(--secondary-color);
        
    }
    .navbar li:hover a {
        color: #ffffff;
    }


    /* Main */
    .main {
        padding: 0 20px;
    }
    /* Hero section */
    .hero{
        flex-direction: column-reverse;
        row-gap: 50px;
    }

    .hero_content {
        text-align: center;
    }
    .hero_content h2 {
        font-size: 1.5rem;
       
    }

    /* Brand Collaboration */

    .brand_collab {
        grid-template-columns: repeat(2 , 1fr);
        justify-items: center ;

    }

    .brand_collab img:nth-child(7) {
        grid-column: span 2;
        
    }


    /* Product area */

    .products_wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Feature area */

    .feature {
        flex-direction: column-reverse;
        text-align: center;
    }


}